.screen-out {
  display: inline-block;
  text-indent: -9999px;
}
body {
  margin: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #333;
}
.login-container {
  width: 350px;
  height: 135px;
}
ul {
  list-style: none;
}

.login-container {
  box-sizing: border-box;
  width: 350px;
  height: 135px;
  background-color: #f4f6f7;
  border: 1px solid #dae1e6;
}
.btn-login {
  background-color: #19ce60;
  border: none;
  color: #f4f6f7;
}
.log-mention {
  padding-left: 3px;
  color: gray;
}

.login-button {
  box-sizing: border-box;
  width: 315px;
  height: 48px;
  background-color: #19ce60;
  border: 1px solid #15c654;
}
.user-help-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
