.screen-out {
  text-indent: -9999px;
}
.clear-fix::after {
  display: block;
  content: "";
  clear: both;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  margin: 100px;
}
.cont-box {
  padding: 16px 16px 12px 17px;
  align-items: center;
  width: 350px;
  height: 135px;
  background-color: #eeeeee;
  font-size: 12px;
  border: 1px solid #acacac;
  box-sizing: border-box;
}
p {
  color: rgb(128, 128, 128);
}

.btn-login {
  width: 315px;
  height: 48px;
  margin: 15px auto;
  background-color: #17ce5f;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.user-login {
  font-size: #000;
}
.id {
  float: left;
}
.id::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 14px;
  background: url(/img/lock.png) center/contain no-repeat;
}
.pw {
  float: left;
}
.pw::before {
  display: inline-block;
  content: ".";
  color: rgb(181, 181, 181);
  font-weight: 900;
}
.join {
  float: right;
}

.join::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 14px;
  background: url(/img/user.png) center/contain no-repeat;
}
